@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--emerald-500);
}
.wrapper{
  position: relative;
  width: 700px;
  background: #fff;
  height: 90vh;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: var(--emerald-500);
}
.wrapper form{
  margin-top: 10px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 10px;
  width: 100%;
}
form .input-box input{
  padding: 8px 16px;
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  outline: none;
  height: 50px;
  width: 150px;
  width: 100%;
  border-radius: 4px;
  padding-right: 32px;
  font-size: 14px;
}
form .input-box select{
  height: 40px;
  width: 28%;
  outline: none;
  padding: 0 5px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
form .input-box select option{
  height: 100%;
  width: 25%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus{
  border-color: var(--slate-400);
}
form .policy{
  display: flex;
  align-items: center;
  margin: 20px;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: var(--emerald-500);
  cursor: pointer;
}
.conversation-form-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline: transparent;
  font-size: 20px;
  color: var(--slate-400);
  cursor: pointer;
  flex-shrink: 0;
}
.conversation-form-button:hover {
  background-color: var(--slate-100);
  color: var(--slate-600);
}
.conversation-form-button:active {
  background-color: var(--slate-200);
  color: var(--slate-600);
}
.conversation-form-submit {
  background-color: var(--emerald-500);
  box-shadow: 0 2px 8px -2px var(--emerald-500);
  color: var(--white);
}
.conversation-form-submit:active {
  background-color: var(--emerald-700);
  color: var(--white);
}
.conversation-form-submit:hover {
  background-color: var(--emerald-600);
  color: var(--white);
}
.input-box.button input:hover{
  background-color: var(--emerald-600);
  color: var(--white);
}
.input-box.button input:active{
  background-color: var(--emerald-700);
  color: var(--white);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: var(--emerald-500);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
.input-profile{
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.input-profile label{
  margin-right: 200px;
}
.input-profile img{
  margin-left: 200px;
}
.checkbox input:checked{
  accent-color: var(--emerald-500);
}
.block1 {
  display: flex;
}
#profileImage{
  display: none;
}
.editprofileimage img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.profilegender{
  margin: 10px;
}
.profilegender label{
  font-size: 17px;
  font-weight: 400;
  margin-left: 10px;
}
.profilegender div{
  margin-left: 30px;
}
.profilegender div i{
  color: var(--emerald-500) ;
}
.profilegender div input:checked{
  accent-color: var(--emerald-500);
}